body{
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.container{
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    border: 10px solid white;
    height: 60%;
    width: 60%;
}

.container .left{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 50%;
}
.container .right{
    margin: 0%;
    padding: 0%;
    float: left;
    justify-content: center; 
    align-items: center; 
    width: 50%;
    margin-left: 10px;
}